.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }


  .formContainer {
    background-color: var(--color-dark);
    border-radius: 10px;
    padding: 4rem;
    width: 30rem;
}