/* .main {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: var(--color-darkest);


}

.mainInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

} */
