.cards-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}
.instruction {
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    font-size: 12px;
}