.main {
    height: 180px;
    width: 150px;
    border: 1px solid #C8EABA;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 40px;
    border-bottom: 1px solid #C8EABA;
    color:#FF9D74;
    font-size: 12px; 
    text-align: center;
    padding:5px;
}